<h1>Estudiantes Mayores</h1>

<table class="table table-hover">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>

  </tr>
</thead>

<tbody>
  <% @students.each do |student| %>
  <tr>
  <td><%= student.name %> </td>
  <td><%= student.age %> </td>
  </tr>
  <% end %>
  </table>

</tbody>
<br>

<% student = @students%>
<%= "Total alumnos mayores de edad: #{student.size}" %>
